# Database Configuration
DB_PASSWORD=xxxx

# GHN API Configuration
GHN_TOKEN=xxxx

# VNPay Configuration
VNPAY_TMN_CODE=xxxx
VNPAY_SECRET_KEY=xxxx
VNPAY_RETURN_URL=xxxx
VNPAY_URL=xxxx
VNPAY_VERSION=xxxx
VNPAY_COMMAND=xxxx
VNPAY_ORDER_TYPE=xxxx
