# Keycloak Configuration
KEYCLOAK_ADMIN=xxxx
KEYCLOAK_ADMIN_PASSWORD=xxxx
KC_DB_USERNAME=xxxx
KC_DB_PASSWORD=xxxx

# PostgreSQL Configuration
POSTGRES_USER=xxxx
POSTGRES_PASSWORD=xxxx

# MongoDB Configuration
MONGO_USERNAME=xxxx
MONGO_PASSWORD=xxxx
