# Database Configuration
DB_PASSWORD=xxxx

# AWS S3 Configuration
AWS_ACCESS_KEY=xxxx
AWS_SECRET_KEY=xxxx
AWS_BUCKET_NAME=xxxx
AWS_REGION=xxxx

# Keycloak Configuration
KEYCLOAK_URL=xxxx
KEYCLOAK_REALM=xxxx
KEYCLOAK_CLIENT_ID=xxxx
KEYCLOAK_CLIENT_SECRET=xxxx

# JWT Configuration
JWT_SECRET=xxxx

# Elasticsearch Configuration
ELASTICSEARCH_PASSWORD=xxxx

# Redis Configuration
REDIS_PASSWORD=xxxx
