@import './base.css';
@import "tailwindcss";

@theme {
  --spacing-primary: 1280px; 
  --spacing-header: 56px;
}

body {
  font-family: Plus Jakarta Sans, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
